h1 {
  text-align: center;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #000;
  color: #fff;
}