h1 {
  text-align: center;
 
}
.image-grid img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1cm;
  margin: 20px;
}
.image-grid img {
  width: 200px;
  height: 200px;
  border: 2px solid #c31616;
  border-radius: 10px;
}
